<div class="container-fluid">



    <div class="content container-fluid p-0">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Invoices</h3>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table shadow border ">
                    <div class="card-header border-bottom border-2">

                        <!-- <h5 class="card-title mb-0 float-start">Invoices Lists</h5> -->
                        <div class="col- mb-5">
                            <div class="float-end">
                                <a routerLink="./add" class="btn btn-primary">
                                    <i class="fas fa-plus"></i> Create Invoice
                                </a>
                            </div>


                        </div>

                    </div>

                    <div class="card-body ">


                        <form [formGroup]="filterFormData">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="cal-icon">
                                        <div class="form-group">
                                            <label>Invoice Status</label>


                                            <select class="form-select form-control" formControlName="status">
                                                    <option value="">select status</option>
                                                    <option value="{{curr.name}}" *ngFor="let curr of statusList" >{{curr.name}}</option>  
                                                </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Invoice Id </label>
                                        <div class="cal-icon">
                                            <input class="form-control " type="text" formControlName="invoice_number">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Invoice Amount </label>
                                        <div class="cal-icon">
                                            <input class="form-control" type="text" formControlName="amount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Invoice Date</label>
                                        <input type="text" class="form-control flatpickr-minimum flatpickr-input active" formControlName="invoice_peroid_startdate">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input type="text" class="form-control" name="customer" formControlName="customer">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Customer Contact</label>
                                        <input type="text" class="form-control" formControlName="customer_contact">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Customer Email</label>
                                        <input type="text" class="form-control" formControlName="customer_email">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary me-2" (click)="filterSearchItems()">Search</button>
                                <button class="btn btn-light" type="reset" (click)="filterClearData()">Clear</button>
                            </div>
                        </form>
                        {{filterFormData.value | json}}

                        <div class="table-responsive p-2">
                            <div class="row p-0 m-0">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search..." name="customer" [(ngModel)]="filterName">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-stripped table-hover datatable dataTable ">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Invoice ID</th>
                                        <th>Ref. No</th>
                                        <th>Customer</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Email</th>
                                        <th>Data & Time</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="text-center" role="status" *ngIf="loading; else showWhenLoaded">
                                        <td colspan="9" class="text-center p-0">
                                            <div class="spinner-border text-primary text-center"></div>
                                        </td>
                                    </tr>

                                    <ng-template #showWhenLoaded>

                                        <tr *ngFor="let list of listOfInvoice | filter: filterName | paginate: { itemsPerPage:10, currentPage: p }  let i = index ">
                                            <td>
                                                <a routerLink="./view/{{list.id}}">{{list.invoice_number}}</a>
                                            </td>
                                            <td>{{list.IRN}}</td>
                                            <td>{{list.customer}}</td>
                                            <td>{{list.currency }}</td>
                                            <td class="text-end fw-bold">{{list.amount | number :'1.2-2' | currency : ' &#8377; '}}</td>
                                            <td>{{list.customer_email}}</td>
                                            <td>{{list.invoice_peroid_startdate }}</td>
                                            <td>
                                                <span class="badge " [ngClass]="[list.status === 'paid'? 'bg-success':'', list.status === 'pending'?  'bg-warning':'', list.status === 'paynow'?  'bg-danger':'']">{{list.status | titlecase}}</span>
                                            </td>
                                            <td>
                                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item bg-success text-white" (click)="goToUrl()" [ngClass]="[list.status=== 'paid'? 'd-none':'d-block']">
                                                        <i class="fas fa-money-bill-wave fa-fw me-2 "></i> Pay Now
                                                    </a>

                                                    <a class="dropdown-item " [ngClass]="[list.status==='paid' ? 'd-none': 'd-block'] " routerLink="./edit/{{list.id}}"><i class="far fa-edit me-2 "></i>Edit</a>
                                                    <a class="dropdown-item " routerLink="./view/{{list.id}}"><i class="far fa-eye me-2 "></i>View</a>
                                                    <!-- <a class="dropdown-item "><i class="far fa-trash-alt me-2 "></i>Delete</a> -->
                                                    <!-- <a class="dropdown-item " href="javascript:void(0); "><i class="far fa-check-circle me-2 "></i>Mark as sent</a>-->
                                                    <!-- <a class="dropdown-item " href="javascript:void(0); "><i class="far fa-paper-plane me-2 "></i>Send Invoice</a> -->

                                                </div>
                                                <!-- <button class="btn btn-success me-2 ">Pay Now</button>
                                                <button class="btn btn-info me-2 ">View</button>
                                                <button class="btn btn-warning me-2 ">Edit</button>
                                                <button class="btn btn-danger me-2 ">Cancel</button> -->
                                            </td>
                                        </tr>

                                        <ng-container *ngIf="MessageDataInfo">
                                            <tr>
                                                <td colspan="9" class="text-info text-center">
                                                    No Data Found
                                                </td>
                                            </tr>
                                        </ng-container>




                                    </ng-template>







                                </tbody>
                            </table>
                            <div class="float-end mt-2  pt-3">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="loader" *ngIf="loader"> </div>
<div class="swal2-container" *ngIf="overlay"></div>