<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Merchant</strong> Payout</h1>

    <div class="row">
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card shadow border flex-fill">
                <div class="card-header ">

                    <h5 class="card-title mb-0">Latest Transition</h5>
                    <br>
                    <form [formGroup]="filterForm">
                        <!-- <div class="row d-flex justify-content-center  align-items-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input type="datetime" class="form-control flatpickr-minimum flatpickr-input active" placeholder="Select date.." readonly="readonly" formControlName="fromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input type="datetime" class="form-control flatpickr-minimum flatpickr-input active" placeholder="Select date.." readonly="readonly" formControlName="toDate">
                                    </div>
                                </div>
                            </div> -->

                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>To <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <!-- <input type="datetime-local-time" formControlName="fromDate" class="form-control"> -->
                                        <dp-date-picker [(ngModel)]="start_Date" name="start_Date" formControlName="fromDate" [config]="datePickerConfig" class="form-group-datepicker" theme="dp-material"></dp-date-picker>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <!-- <input type="datetime-local-time" formControlName="toDate" class="form-control"> -->
                                        <dp-date-picker [(ngModel)]="end_Date" name="end_Date" formControlName="toDate" [config]="datePickerConfig" class="form-group-datepicker"></dp-date-picker>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-primary me-2" (click)="applyFilter()">sumbnit</button>
                                <button class="btn btn-primary" type="reset" (click)="resetDate()">Reset</button>
                            </div>

                        </div>





                    </form>

                </div>
                <hr>

                <div class="table-responsive p-2" style="overflow-x:auto;">
                    <div class="form-group col-sm-3 float-end">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm" />
                    </div>
                    <table class="table table-stripes table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>From</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Blob</th>
                                <th>Txn Ref</th>
                                <th>Merchant id</th>
                                <th>times</th>
                            </tr>
                        </thead>
                        <div class="spinner-border text-primary" role="status" *ngIf="Loading">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <tbody>

                            <tr *ngFor="let item of productList | filter: filterTerm | paginate: { itemsPerPage:10, currentPage: p } let i = index">
                                <td>{{item.nupay_log_id}}</td>
                                <td>{{item.log_from}}</td>
                                <td>{{item.log_name}}</td>
                                <td>{{item.log_type}}</td>
                                <td>{{item.log_blob }}</td>
                                <td>{{item.txnRefNo}}</td>
                                <td>{{item.merchant_id}}</td>
                                <td>{{item.timestamp }}</td>
                            </tr>
                        </tbody>




                    </table>
                    <div class="float-end mt-2  pt-3">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>