<div class="container-fluid pagenotFoundPage">
    <div class="row">
        <div class="col-md-4 mr-auto mt-5 text-md-left text-center">
            <a href="" class="ml-md-5">
                <img alt="image-404" src="./assets/images/paynet.png" style="width: 150px;" class="theme-logo">
            </a>
        </div>
    </div>
</div>
<div class="error-content">
    <div class="">
        <!-- <h1 class="error-number">404</h1>
        <p class="mini-text">Ooops!</p>
        <p class="error-text mb-4 mt-1">The page you requested was not found!</p>
        <a href="index.html" class="btn btn-primary mt-5">Go Back</a> -->
        <h1 class="error-title">Under Maintenance</h1>
        <p class="error-text">Thank you for visiting us.</p>
        <p class="text">We are currently working on making some improvements <br/> to give you better user experience.</p>
        <p class="text">Please visit us again shortly.</p>
        <a routerLink="/dashboard" class="btn btn-info mt-4">Home</a>
    </div>
</div>