.invoiceForm {
    .table {
        thead {
            background-color: #fff;
            border-top: 6px solid transparent;
        }
        tr {
            border-top: 6px solid transparent;
            border-bottom: 1px solid #e1e1e1;
        }
        td {
            border-top: 6px solid transparent;
            border-bottom: 1px solid #e1e1e1;
        }
    }
}